<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609381503607-c8agsgbrgn0a5o2250iab6fombv35seo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609381503607-c8agsgbrgn0a5o2250iab6fombv35seo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>609381503607-go2mqkj95jnq96dgfvufg017bm5s6u6v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDobpdxa2i3yRZZoyTmPTCbVDMxQNo9EV0</string>
	<key>GCM_SENDER_ID</key>
	<string>609381503607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-323ef</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-323ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609381503607:ios:5f37548a2667361f562c72</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-323ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>